## Importing Pandas and reading the CSV File

In [1]:
import pandas as pd
df = pd.read_csv(r'E:\Learning Data Science With Python\Data Science 101 - Data Cleaning\fifa21 raw data v2.csv')

C:\Users\Siddharth\AppData\Local\Temp\ipykernel_18516\1932568224.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'E:\Learning Data Science With Python\Data Science 101 - Data Cleaning\fifa21 raw data v2.csv')

## Understanding the Data, Datatypes, Null Values

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

## Checking the Top 5 Rows to understand the data further

In [3]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

## Dropping photoUrl and playerUrl

In [4]:
df.drop(columns = ['photoUrl', 'playerUrl'], inplace=True)

## Starting the Data Cleaning Assignment with the Instructions provided

### 1) Converting the Height and Weight into numerical forms.

* Some of the height values are in cm and some are in feet/inches. (Example: {'170cm', '6'2"', etc.,}
<br></br>-> We will be defining a function to split the feet and inches and apply a lambda function to iterate through the data values and convert them based on what they end with.
<br></br>
* Some of the weight values are in kgs and some are in lbs. (Example: {'94kgs','85lbs', etc.,}
<br></br>-> We will be using the same procedure as what we did for height.

In [5]:
def extract_height_ft_in(height_str):
    try:
        feet, inches = height_str.split("'")
        return int(feet) * 30.48 + int(inches) * 2.54
    except ValueError:
        return None

df['Height'] = df['Height'].apply(lambda x: float(x.replace('cm', '')) if x.endswith('cm') else extract_height_ft_in(x))

df['Height'].head()

0    170.0
1    187.0
2    188.0
3    181.0
4    175.0
Name: Height, dtype: float64

In [6]:
def extract_weight_lbs(weight_str):
    try:
        weight_lbs = float(weight_str.replace('lbs', ''))
        return weight_lbs*0.453592
    except ValueError:
        return None

df['Weight'] = df['Weight'].apply(lambda x: float(x.replace('kg', '')) if x.endswith('kg') else extract_weight_lbs(x))

df['Weight'].head()

0    72.0
1    83.0
2    87.0
3    70.0
4    68.0
Name: Weight, dtype: float64

In [7]:
df.head()

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595

### 2) Removing the escape sequences from columns.

* We will use string replace function and regex for this operation.

In [8]:
df['Club'] = df['Club'].str.replace(r'\s*', '', regex=True)

df['Club'].head()

0           FCBarcelona
1              Juventus
2        AtléticoMadrid
3        ManchesterCity
4    ParisSaint-Germain
Name: Club, dtype: object

### 3) Converting the {'Value', 'Wage', 'Release Clause'} columns into numericals

* These columns have string values starting with '€' symbol. We will be replacing it.
* These columns have string values ending 'M' or 'K'. We will be converting them into numerics using a lambda and endswith function.

In [9]:
money_cols = ['Value', 'Wage', 'Release Clause']

def clean_money(money_str):
    units = money_str[-1]
    value = money_str[:-1] if units in ('M','K') else money_str
    return float(value)*1000000 if units == 'M' else (float(value)*1000 if units == 'K' else None)

for col in money_cols:
    df[col]=df[col].str.strip('€')
    df[col]=df[col].apply(clean_money)

In [10]:
df[money_cols].head()

         Value      Wage  Release Clause
0  103500000.0  560000.0     138400000.0
1   63000000.0  220000.0      75900000.0
2  120000000.0  125000.0     159400000.0
3  129000000.0  370000.0     161000000.0
4  132000000.0  270000.0     166500000.0

## 4) Removing the ★ from columns that have it

* Some columns have star symbol. We will remove it using replace function and regex.

In [11]:
star_cols = ['W/F', 'SM', 'IR']

for col in star_cols:
    df[col]=df[col].str.replace('★', '', regex=True)

In [12]:
df[star_cols].head()

  W/F SM  IR
0  4   4  5
1  4   5  5
2  3   1  3
3  5   4  4
4  5   5  5

### 5) Converting the Hits column to numeric

* Some hits have 'K' in them, meaning they are thousands. We will be converting them to numeric using lambda function.

In [13]:
def clean_hits(hits_str):
    try:
        if isinstance(hits_str, str):
            hits_str = hits_str.strip()
            if hits_str.endswith('K'):
                value = float(hits_str[:-1]) * 1000
            else:
                value = float(hits_str)
            return int(value)
    except ValueError:
        return None

df['Hits'] = df['Hits'].apply(clean_hits)

In [14]:
df['Hits'].head(20)

0      771.0
1      562.0
2      150.0
3      207.0
4      595.0
5      248.0
6      246.0
7      120.0
8     1600.0
9      130.0
10     321.0
11     189.0
12     175.0
13      96.0
14     118.0
15     216.0
16     212.0
17     154.0
18     205.0
19     202.0
Name: Hits, dtype: float64

In [15]:
df.head()

,ID,Name,LongName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FCBarcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5,85,92,91,95,38,65,771.0
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",...,High,Low,5,89,93,81,89,35,77,562.0
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,AtléticoMadrid,2014 ~ 2023,GK,...,Medium,Medium,3,87,92,78,90,52,90,150.0
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,ManchesterCity,2015 ~ 2023,"CAM, CM",...,High,High,4,76,86,93,88,64,78,207.0
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,ParisSaint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5,91,85,86,94,36,59,595.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height            18939 non-null  float64
 11  Weight            18979 non-null  float64
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  object
 16  Loan Date End     1013 non-null   object
 17  Value             18731 non-null  float64
 18  Wage              15029 non-null  float64
 19  Release Clause    17718 non-null  float64
 20  Attacking         18979 non-null  int64
 21  Crossing          18979 non-null  int64
 22  Finishing         18979 non-null  int64
 23  Heading Accuracy  18979 non-null  int64
 24  Short Passing     18979 non-null  int64
 25  Volleys           18979 non-null  int64
 26  Skill             18979 non-null  int64
 27  Dribbling         18979 non-null  int64
 28  Curve             18979 non-null  int64
 29  FK Accuracy       18979 non-null  int64
 30  Long Passing      18979 non-null  int64
 31  Ball Control      18979 non-null  int64
 32  Movement          18979 non-null  int64
 33  Acceleration      18979 non-null  int64
 34  Sprint Speed      18979 non-null  int64
 35  Agility           18979 non-null  int64
 36  Reactions         18979 non-null  int64
 37  Balance           18979 non-null  int64
 38  Power             18979 non-null  int64
 39  Shot Power        18979 non-null  int64
 40  Jumping           18979 non-null  int64
 41  Stamina           18979 non-null  int64
 42  Strength          18979 non-null  int64
 43  Long Shots        18979 non-null  int64
 44  Mentality         18979 non-null  int64
 45  Aggression        18979 non-null  int64
 46  Interceptions     18979 non-null  int64
 47  Positioning       18979 non-null  int64
 48  Vision            18979 non-null  int64
 49  Penalties         18979 non-null  int64
 50  Composure         18979 non-null  int64
 51  Defending         18979 non-null  int64
 52  Marking           18979 non-null  int64
 53  Standing Tackle   18979 non-null  int64
 54  Sliding Tackle    18979 non-null  int64
 55  Goalkeeping       18979 non-null  int64
 56  GK Diving         18979 non-null  int64
 57  GK Handling       18979 non-null  int64
 58  GK Kicking        18979 non-null  int64
 59  GK Positioning    18979 non-null  int64
 60  GK Reflexes       18979 non-null  int64
 61  Total Stats       18979 non-null  int64
 62  Base Stats        18979 non-null  int64
 63  W/F               18979 non-null  object
 64  SM                18979 non-null  object
 65  A/W               18979 non-null  object
 66  D/W               18979 non-null  object
 67  IR                18979 non-null  object
 68  PAC               18979 non-null  int64
 69  SHO               18979 non-null  int64
 70  PAS               18979 non-null  int64
 71  DRI               18979 non-null  int64
 72  DEF               18979 non-null  int64
 73  PHY               18979 non-null  int64
 74  Hits              16357 non-null  float64
dtypes: float64(6), int64(54), object(15)
memory usage: 10.9+ MB

## 6) Writing the CSV

In [17]:
df.to_csv('E:\Learning Data Science With Python\Data Science 101 - Data Cleaning\Fifa21_Data_Cleaned.csv')